<?xml version="1.0" ?>
<robot name="blimp" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Define M_PI for ROS2 xacro compatibility -->
  <xacro:property name="M_PI" value="3.14159265359" />
  <xacro:property name="PI" value="3.14159265359" />

  <xacro:arg name="namespace" default="blimp"/>
  <xacro:arg name="uav_name" default="blimp"/>
  
  <!-- FIXED: Added all missing launch arguments that are referenced in included files -->
  <xacro:arg name="enable_custom_plugins" default="true"/>
  <xacro:arg name="enable_meshes" default="true"/>
  <xacro:arg name="enable_wind" default="false"/>
  <xacro:arg name="enable_physics" default="true"/>
  <xacro:arg name="enable_sensors" default="true"/>
  <xacro:arg name="enable_logging" default="false"/>
  <xacro:arg name="enable_ground_truth" default="true"/>
  <xacro:arg name="enable_mavlink_interface" default="false"/>
  <xacro:arg name="log_file" default="blimp"/>
  <xacro:arg name="wait_to_record_bag" default="false"/>
  <xacro:arg name="is_input_joystick" default="false"/>

  <!--*****************  component description  *****************-->
  <xacro:include filename="$(find blimp_description)/urdf/plugin_control.xacro" />
  <xacro:include filename="$(find blimp_description)/urdf/plugin_sensors.xacro" />
  <xacro:include filename="$(find blimp_description)/urdf/plugin_physics.xacro" />

  <!--*****************  property description  *****************-->
  <xacro:include filename="$(find blimp_description)/urdf/description_property.xacro"/>

  <!--*****************  mechanics description   *****************-->
  <xacro:include filename="$(find blimp_description)/urdf/model_xacro.xacro" />
  <xacro:include filename="$(find blimp_description)/urdf/description_link.xacro"/>

  <!--*****************  controller description  *****************-->
  <xacro:include filename="$(find blimp_description)/urdf/description_controller.xacro"/>

  <!--*****************  sensor description  *****************-->
  <xacro:include filename="$(find blimp_description)/urdf/description_sensor.xacro"/>

  <!--*****************  physics and extra plugins description  *****************-->
  <xacro:include filename="$(find blimp_description)/urdf/description_plugin.xacro"/>

  <!-- ROS 2 Control hardware interface (Gazebo Harmonic) -->
  <gazebo>
    <plugin name="gz_ros2_control::GazeboSimROS2ControlPlugin" filename="gz_ros2_control-system">
      <parameters>$(find blimp_description)/resource/controller_blimp.yaml</parameters>
      <ros>
        <namespace>$(arg namespace)</namespace>
      </ros>
    </plugin>
  </gazebo>

</robot>